@using SD2.Models.View
@model RegisterViewModel
<form>

    <h2> Create Client </h2>
    <label  onclick="qwerty()">
        First Name
        <input type="text" asp-for="FirstName" value="@Model.FirstName" />
        
    </label>

    <label>
        Last Name
        <input type="text" asp-for="LastName" />
    </label>

    <label>
        Age
        <input type="number" asp-for="Age" />
    </label>

    <button type="submit"> Create </button>

</form>